LOG_LEVEL=info
AWS_REGION=us-east-1
AWS_INSTANCE_TYPE=t3.micro
AWS_AMI_ID=ami-00e801948462f718a
ADMIN_EMAIL=example@example.com
EMAIL_HOST=mailhog
EMAIL_PORT=1025
REDIS_HOST=redis
REDIS_PORT=6379
MONGO_URI=mongodb://user:pass@mongodb:27017/app?authSource=admin
